.item {
    margin: 0.5rem;
    background: var(--pink-leaf);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    border-radius: 0.25rem; 
}

.item li {
    flex: 1;
    padding: 8px 24px;
}
.item-text {
    font-size: 1.25rem;
    color: var(--primary);
    line-height: 2rem;
}

.item-subtext{
    font-size: 0.75rem;
    color: var(--primary);
    opacity: 80%;
}

.copy-icon{
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--primary);
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}