.item {
    margin: 0.5rem;
    background: var(--pink-leaf);
    font-size: 1.25rem;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    border-radius: 0.25rem;
}

.item li {
    flex: 1;
}
.item-item {
    padding: 8px 24px;
}
