* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

:root{
  --primary: #2e2220;
  --blue: #0e0fed;
  --red:#ff5e6c;
  --dark:  #1c2237;
  --green: #1aa538;
  --dark-blue: #1c2237;
  --off-white: #fafafa;
  --chroma-blue: #0660e9;
  --background: #fff5d7;
  --background-dark:#f7efd6;

  /* Ragin Beige: #fff5d7

Coral Pink: #ff5e6c

Sleuthe Yellow: #feb300

Pink Leaf: #ffaaab */

}

body {
  color: var(--dark);
  background-color: var(--background);
}