* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

:root{
  --primary: #2e2220;
  --pink-leaf: #ffaaab;
  --blue: #0e0fed;
  --red:#ff5e6c;
  --dark-red:rgb(202, 39, 39);
  --dark:  #1c2237;
  --green: #00861d;
  --dark-blue: #1c2237;
  --off-white: #fafafa;
  --chroma-blue: #0660e9;
  --background: #fff5d7;
  --background-dark:#f7eccc;
  --sleuthe-yellow: #feb300

  /* Ragin Beige: #fff5d7

Coral Pink: #ff5e6c

Sleuthe Yellow: #feb300

Pink Leaf: #ffaaab */

}

body {
  color: var(--dark);
  background-color: var(--background);
}

.alert{
  background-color: var(--dark-red);
  width: 100%;
  line-height: 32px;
}

.alert-success{
  background-color: var(--green);
}

.alert-text{
  color: var(--off-white);
  font-size: 16px;
  
}

.rows {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}